*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    text-decoration: none;
    list-style: none;
    outline: none;
}
body{
    width: 100%;
    height: 100vh;
    background: #cbdfee;
    padding: 0 10px;
}
.print{
  position:fixed;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  background: #197;
  color: #fff;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  z-index: 2;
  border: none;
  border: 2px solid #fff;
  font-weight: bold;
  border-radius: 30px;
}
/* dark opacity */
.back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    transition: 0.3s;
    display: none;
}
.back.act{
    display: block;
}
/* nav button */
#nav-btn{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #fff;
    box-shadow: 0 0 30px rgb(35,57,102,0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    pointer-events: fill;
    transition: 0.3s;
    z-index: 2;
}
#nav-btn:before{
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    transform: translateY(-7px);
    background: #000;
    border-radius: 10px;
    transform-origin: left;
    transition: 0.3s;
}
#nav-btn div{
    width: 24px;
    height: 2px;
    background: #000;
    border-radius: 10px;
    transition: 0.3s;
    transform-origin: top;
}
#nav-btn:after{
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    transform: translateY(7px);
    background: #000;
    border-radius: 10px;
    transform-origin: left;
    transition: 0.3s;
}
#nav-btn.act:before{
    transform: rotate(-40deg);
    width: 15px;
    left: 8.5px;
}

#nav-btn.act:after{
    transform: rotate(40deg);
    width: 15px;
    left: 8.5px;
}
/* // nav button */
/* sidebar menu */
#sidebar{
    position: fixed;
    top: 0;
    left: -100%;
    width: 260px;
    height: 100vh;
    background: linear-gradient(-40deg,#233966 70%, #405b91 70%);
    transition: 0.4s;
    z-index: 2;
}
#sidebar.act{
    left: 0;
}

#sidebar h2{
    display: block;
    width: 85%;
    margin: 15px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    text-align: left;
}
#sidebar ul {
    padding: 10px 20px;
}
#sidebar ul li a{
    display: block;
    width: 100%;
    padding: 8px 0;
    margin-top: 10px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
}
/* // sidebar */
/* modols */
.modol-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 5;
    display: none;
    transition: 0.3s;
}
/* about modol */
.about-modol{
    position: fixed;
    content: '';
    top: -100%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 400px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    transition: 0.5s;
    border-radius: 10px;
}
.modol-container .up{
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}
.modol-container .up h2{
    color: #000;
}
.modol-container .up i{
    font-size: 25px;
    cursor: pointer;
}
.about-modol p{
    padding: 30px 50px;
    user-select: none;
}

/* main form */
.form{
    width: 600px;
    padding: 20px;
    margin: 5% auto;
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
}

.form h1{
    text-align: center;
    padding: 20px 0;
}

.form .public{
    width: 100%;
    padding: 10px 20px;
}
.form .public input, textarea{
    width: 100%;
}

.form .pages{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form .pageone,.form .pagetwo,.form .pagethree{
    text-align: center;
}
.form  h3{
    padding: 10px;
    text-align: center;
}
.form input{
    padding: 10px 15px;
    margin-top: 15px;
    border: none;
    background: none;
    border: 1.5px solid #bfcde0;
    border-radius: 2px;
    width: 180px;
}
.form input::placeholder{
  color: #b0c0d5;
}
.form #d{
  padding: 10px 15px;
}
.form #pro{
    margin-top: 10px;
}
.form #pro label{
    font-weight: bold;
}
.form #photo{
    margin-top: 0;
    padding: 8px 15px;
    position: relative;
}
.form #photo:before{
  position: absolute;
  content: 'Browse';
  top: 0;
  left: 0;
  width: 38%;
  height: 100%;
  background: #fff;
  display: grid;
  place-items: center;
  font-weight: 500;
  background: #eef1f7;
  border-right: 1.5px solid #bfcde0;
}
.form input:focus{
    border-color: #19f;
    transition: 0.3s;
}
.form  textarea{
    padding: 10px;
    width: 100%;
    height: 150px;
    resize: none;
    border: none;
    border: 2px solid #bfcde0;
    border-radius: 2px;
}
.form  textarea:focus{
    border-color: #19f;
}
.form input[type="date"]{
    padding: 5.5px 15px;
}
.form button{
    display: block;
    height: 40px;
    width: 120px;
    border: none;
    background: #233966;
    border-radius: 40px;
    color: #fff;
    box-shadow: 0 0 20px rgb(35,57,102,0.4);
    margin: 0 auto;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}


/* main resume */
.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  text-align: center;
  color: #233966;
  z-index: 10;
}
.loader .load{
  width: 250px;
  height: 10px;
  background: #eee;
  overflow: hidden;
  margin-top: 5px;
}
.loader .load div{
  width: 100px;
  height: 100%;
  background: #19f;
  animation: load 2s linear infinite;
}
@keyframes load{
  0%{
    margin-left: -100%;
  }
  50%{
    width: 150px;
  }
  100%{
    margin-left: 100%;
    width: 100px;
  }
}
.colors{
    position: fixed;
    content: '';
    top: 0;
    right: 0;
    width: 150px;
    display: flex;
    padding:10px 5px;
    justify-content: space-around;
    background: #fff;
    box-shadow: -5px 5px 10px rgba(0,0,0,0.2);
    border-radius:0 0 0 30px;
    z-index: 2;
}
.colors div{
    cursor: pointer;
}
.colors .red{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #e61e50;
}
.colors .blue{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #19f;
}
.colors .green{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #233966;
}
.container{
    position: relative;
    width: 800px;
    height: 1000px;
    margin: 0% auto;
    margin-top: 10%;
    background: #fff;
    border: 2px solid #19f;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    overflow: hidden;
    color: #fff;
    animation-delay: 2.3s;
}
.container.redB{
    border-color: #e61e50;
}
.container.blueB{
    border-color: #19f;
}
.container.greenB{
    border-color: #233966;
}
.container .top{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #19f;
    text-align: right;
    color: #fff;
    padding-right: 30px;
}
.container .top.redB{
    background: #e61e50;
    color: #fff;
}
.container .top.blueB{
    background: #19f;
    color: #fff;
}
.container .top.greenB{
    background: #233966;
    color: #fff;
}
.container .top h1{
    line-height: 60px;
}
.container .left-side{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: #19f;
}
.container .left-side.redB{
    background: #e61e50;
    color: #fff;
}
.container .left-side.blueB{
    background: #19f;
    color: #fff;
}
.container .left-side.greenB{
    background: #233966;
    color: #fff;
}
.container .left-side .profile{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 0 auto;
    margin-top: 60px;
    overflow: hidden;
}
.container .left-side .profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .left-side h1,h2{
    text-align: center;
    color: #fff;
    padding: 20px 0;
    padding-bottom: 10px;
}
.container .left-side h1{
    font-size: 28px;
}
.container .left-side .about{
    width: 280px;
    padding: 10px;
    margin: 0 auto;
    text-align: left;
}
.container .left-side .about p{
    font-size: 13px;
}
.container .left-side .bar{
    width: 90%;
    margin: 5px auto;
    height: 2px;
    background: #fff;
}
.container table{
    width: 280px;
    margin: 5px 10px;
    text-align: left;
    font-size: 15px;
}
.container table tr td{
    padding: 5px;
}
.container .left-side .ab{
    text-align: center;
    color: #c2bdbd;
    font-size: 14px;
    margin-top: 20px;
}
/* end left side */
/* right side */
.right-side{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 498px;
    height: 100%;
    padding-top: 80px;
    padding-left: 22px;    
}
.right-side .title{
    width: 380px;
    height: 50px;
    background: #19f;
    position: relative;
}
.container .right-side .title.redB{
    background: #e61e50;
    color: #fff;
}
.container .right-side .title.blueB{
    background: #19f;
    color: #fff;
}
.container .right-side .title.greenB{
    background: #233966;
    color: #fff;
}
.right-side .title h1{
    line-height: 50px;
    padding-left: 20px;
    font-size: 25PX;
}
.right-side .title:before{
    position: absolute;
    content: '';
    top: 0;
    left: 100%;
    border-top: 0px solid transparent;
    border-left: 50px solid #19f;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
}
.container .right-side .title.redB:before{
    border-top: 0px solid transparent;
    border-left: 50px solid #e61e50;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
}
.container .right-side .title.blueB:before{
    border-top: 0px solid transparent;
    border-left: 50px solid #19f;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
}
.container .right-side .title.greenB:before{
    border-top: 0px solid transparent;
    border-left: 50px solid #233966;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
}

.right-side .info{
    width: 450px;
    margin: 15px auto;
    margin-bottom: 20px;
}

.right-side .info h3{
    color: #333;
    padding: 5px 0;
    font-size: 18px;
}

.right-side .info h3 i{
    padding-right: 10px;
    font-size: 25px;
    color: #19f;
    line-height: 30px;
}
.container .right-side .info.redB h3 i{
    color: #e61e50;
} 
.container .right-side .info.blueB h3 i{
    color: #19f;
} 
.container .right-side .info.greenB h3 i{
    color: #233966;
} 
.right-side .info .lang-bar{
    width: 100%;
    margin: 10px 0;
}
.right-side .info .lang-bar .lang{
    width: 90%;
    height: 12px;
    background: #eee;

}
.right-side .info .lang-bar .lang div{
    height: 100%;
    width: 0%;
    background: #19f;
}
.container .right-side .info .lang-bar .lang div.redB{
    background: #e61e50;
} 
.container .right-side .info .lang-bar .lang div.blueB{
    background: #19f;
} 
.container .right-side .info .lang-bar .lang div.greenB{
    background: #233966;
} 

.right-side .info .lang-bar .lang div p{
    font-size: 10px;
    color: #fff;
    text-align: right;
    padding-right: 5px;
}

/* End of main cv */

@media screen and (max-width:480px){
    .about-modol{
        width: 90%;
        height: auto;
    }
    .about-modol p{
        padding: 30px 20px;
    }
    .form {
        width: 90%;
        padding: 15px;
    }
    .form .public{
        display: block;
        margin: 10px auto;
        width: 100%;
    }
    .form .public input{
        width: 100%;
    }
    .form .pages{
        flex-direction: column;
    }
    .form .pages .pageone,.form .pages .pagetwo{
        width: 100%;
    }
    .form input{
        width: 90%;
    }
    .form .name{
        margin: 10px auto;
        width: 100%;
    }
    .form .name input{
        width: 100%;
    }
}